<VirtualHost *:80>
    <Directory /var/www/html/snipeit/public>
        Allow From All
        AllowOverride All
        Options -Indexes
    </Directory>

    DocumentRoot /var/www/html/snipeit/public
    ServerName {{ fqdn }}
</VirtualHost>
